<h2>Inventario Inicial del Mes: {{month}}</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Stock Inicial</th>
        </tr>
    </thead>
    <tbody>
        {{#each initialStock}}
        <tr>
            <td>{{this.product_name}}</td>
            <td>{{this.initial_stock}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{#if error}}
<p class="text-danger">{{error}}</p>
{{/if}}
